@import url(styles/reset.css);
@import url(styles/map.scss);

body {
    margin: 0px;
    //overflow: hidden;
    overflow-x: auto;
    overflow-y: auto;
}

.bar {
    fill:#FFB638;
}
.bar:hover {
    fill: #EBFAAF;
}


#map{
    height:400px;
}

.all_pics {
    display: flex;
   //justify-content: space-evenly;
    margin-top: 50px;
}

.all_charts {
    flex-direction: column;
}
// #svg1 {
//     margin-left: 0px;
// }