@import url(styles/reset.css);
@import url(styles/map.scss);

body {
    margin: 0px;
    overflow: hidden;
}

.bar {
    fill:#FFB638;
}
.bar:hover {
    fill: #EBFAAF;
}


#map{
    height:400px;
}

